.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 70vh;
  border-radius: 10px;
  position: relative;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.profile-label {
  position: absolute;
  top: 20px;
  left: 25px;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  font-family: poppins;
}

.main-content {
  display: flex;
  margin-left: 280px; 
  padding: 20px;
  padding-top: 0;
  background-color: #1E1E1E;
  min-height: 100vh;
  color: #fff;
  width: calc(100% - 280px);
}

.profile-card {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
  width: 800px;
  overflow: hidden;
}

.profile-left {
  flex: 2;
  background-color: #181818;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-left h2,
.profile-left p {
  margin: 1px 0;
}

.edit-profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  margin-bottom: 20px;
}

.edit-profile-button {
  margin-top: 20px; 
  background-color: #28a745; 
  color: #fff;
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.edit-profile-button:hover {
  background-color: #218838; 
}

.profile-right {
  flex: 3 ;
  padding: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
}

.info-label {
  font-weight: bold;
  color: #555;
}

.info-value {
  color: #333;
}

.info-value.pending {
  color: orange;
}

.info-value.active {
  color: green;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.save-button,
.cancel-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button {
  background-color: #fa3504;
}

.save-button:hover {
  background-color: #0056b3;
}

.cancel-button:hover {
  background-color: #5a1504;
}
